{% if app.user %}
{% else %}
<script type="text/javascript">
window.location.href = "{{path('admin_login')}}"; </script>
 {% endif %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>{{ app.request.baseUrl }} - admin</title>
     <link href="/assets/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/assets/css/plugins.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/assets/assets/css/components/tabs-accordian/custom-accordions.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="/assets/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="/assets/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" class="dashboard-analytics" />
    <link href="/assets/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" class="dashboard-analytics" />
    <link rel="stylesheet" type="text/css" href="/assets/assets/css/forms/theme-checkbox-radio.css">
    <link href="/assets/assets/css/custom.css" rel="stylesheet" type="text/css" class="dashboard-analytics" />
    <link href="/assets/plugins/drag-and-drop/dragula/dragula.css" rel="stylesheet" type="text/css" />
            <link href="/assets/assets/css/fastselect.min.css" rel="stylesheet">
 <link href="/assets/assets/css/apps/scrumboard.css" rel="stylesheet" type="text/css" />
    <link href="/assets/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/drag-and-drop/dragula/example.css" rel="stylesheet" type="text/css" />
    <link href="/assets/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link href="/assets/assets/css/users/user-profile.css" rel="stylesheet" type="text/css" />
    <link href="/assets/assets/css/forms/switches.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/plugins/dropify/dist/css/dropify.min.css">
    <link href="/assets/assets/css/users/user-profile.css" rel="stylesheet" type="text/css" />
    <link href="/assets/assets/css/components/tabs-accordian/custom-tabs.css" type="text/css" />
     <script src="/assets/assets/js/libs/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins/table/datatable/dt-global_style.css">
    
    <link href="/assets/assets/css/apps/todolist.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/assets/plugins/Bootstrap Multiselect/bootstrap-multiselect.css">
    <link href="/assets/plugins/tagInput/tags-input.css" rel="stylesheet" type="text/css" />

    <link href="/assets/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/editors/quill/quill.snow.css">      <link rel="stylesheet" href="/assets/editor/src/richtext.min.css">  <link rel="stylesheet" href="/assets/editor/src/richtext.min.css">
        <script type="text/javascript" src="/assets/editor/src/jquery.richtext.js"></script>
    {% block styles %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="dashboard-analytics">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
          <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% if app.user.userType == 'root' %}
                {% include "@AppBundle/Admin/Properties/leftSideBarAdmin.html.twig" %}

        {% else %}
        {% include "@AppBundle/Admin/Properties/leftSideBar.html.twig" %}
        {% endif %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
           {% if app.user.userType == 'root' %}
        {% include "@AppBundle/Admin/Properties/headerMainAdmin.html.twig" %}

        {% else %}
        {% include "@AppBundle/Admin/Properties/headerMain.html.twig" %}
        {% endif %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->    


      

         <div id="content" class="main-content">

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
            
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-12" style="margin-top:20px">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success"> <i class="ti-check"></i> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </div>                         
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger"> <i class="ti-na"></i> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <!-- Row -->
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include "@AppBundle/Admin/Properties/footer.html.twig" %}
              
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
       
    <!-- Bootstrap tether Core JavaScript -->
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/assets/bootstrap/js/popper.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/assets/js/app.js"></script>
        <script src="/assets/assets/js/ie11fix/fn.fix-padStart.js"></script>
    <script src="/assets/plugins/editors/quill/quill.js"></script>
    <script src="/assets/assets/js/apps/todoList.js"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
        <script src="/assets/plugins/table/datatable/datatables.js"></script>
    <script src="/assets/plugins/tagInput/tags-input.js"></script>

    <script src="/assets/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/plugins/dropify/dist/js/dropify.min.js"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="/assets/plugins/apex/apexcharts.min.js"></script>
    <script src="/assets/assets/js/dashboard/dash_1.js"></script>
        <script src="/assets/plugins/Bootstrap Multiselect/bootstrap-multiselect.js"></script>
                <script src="/assets/assets/js/fastselect.standalone.js"></script>

   <script src="/assets/assets/js/ie11fix/fn.fix-padStart.js"></script>
    <script src="/assets/assets/js/apps/scrumboard.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script type="text/javascript" src="/assets/assets/js/dashboard/dash_2.js"></script>
    <script src="/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
 <script src="/assets/assets/js/scrollspyNav.js"></script>

    <script src="/assets/assets/plugins/bootstrap-touchspin/custom-bootstrap-touchspin.js"></script>
 <script>
        var instance = new TagsInput({
            selector: 'skill-input'
        });



         $(document).ready(function() {
$('.multipleSelect').fastselect();
});

    $( function() {
    var availableTags = [
      "Shwetha",
      "Abc",
      "xyz",
      "Shruthi",
      "Ashwini",
      "Ramya"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
    
        $(document).ready(function() {
            // Basic
            $('.dropify').dropify();
            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });
    
            // Used events
            var drEvent = $('#input-file-events').dropify();
    
            drEvent.on('dropify.beforeClear', function(event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });
    
            drEvent.on('dropify.afterClear', function(event, element) {
                alert('File deleted');
            });
    
            drEvent.on('dropify.errors', function(event, element) {
                console.log('Has Errors');
            });
    
            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function(e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <script type="text/javascript">
$(document).ready(function(){


    jQuery("[name=category]").click(function(source) { 
        checkboxes = jQuery('.category');
        for(var i in checkboxes){
            checkboxes[i].checked = source.target.checked;
        }
    });

    jQuery("[name=subcategory]").click(function(source) { 
        checkboxes = jQuery('.subcategory');
        for(var i in checkboxes){
            checkboxes[i].checked = source.target.checked;
        }
    });
     jQuery("[name=nestedcategory]").click(function(source) { 
        checkboxes = jQuery('.nestedcategory');
        for(var i in checkboxes){
            checkboxes[i].checked = source.target.checked;
        }
    });
});
</script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;key=AIzaSyBSR3pigsWMH7goi_CthGQFckfb5QPOH8E&amp;v=3.21.5a&amp;libraries=drawing&amp;signed_in=true&amp;libraries=places,drawing,geometry"></script>
    {% block scripts %}{% endblock %}
</body>

</html>