{% extends '@AppBundle/Admin/base.html.twig' %}
{% block styles %}
<!--nestable CSS -->
<link href="/assets/plugins/nestable/nestable.css" rel="stylesheet" type="text/css" />

<style>
</style>

{% endblock %}
{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Brands <a href="{{ path('brand_create') }}" class="btn btn-primary btn-sm pull-right">Create New Brand</a></h4>
                <table class="table table-hovered">
                    <tr>
                        <th>Brand name</th>
                        <th>Action</th>
                    </tr>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.categoryName }}</td>
                        <td><a href="{{ path('brand_edit',{'id':category.id}) }}" class="btn btn-primary btn-sm" title="Edit {{ category.categoryName }}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!--Nestable js -->
<script src="/assets/plugins/nestable/jquery.nestable.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Nestable

        //updateOutput($('#nestable').data('output', $('#nestable-output')));
/*
        $('#nestable-menu').on('click', function(e) {
            var target = $(e.target),
                action = target.data('action');
            if (action === 'expand-all') {
                $('.dd').nestable('expandAll');
            }
            if (action === 'collapse-all') {
                $('.dd').nestable('collapseAll');
            }
        });*/

        $('#nestable-menu').nestable();/*
        $('.dd').nestable('collapseAll');*/
    });
    </script>
{% endblock %}